.add_product_btn button {
    min-width: 44px;
    height: 44px;
}

.btn-warning {
    margin-right: 1em;
}

.add_category_btn button {
    min-width: 44px;
    height: 44px;
}

.bg__navbar {
    background-color: #4b404a;
}

.navbar__top {
    background-color: #393138;
    color: white;
}
