.brand__login {
    margin-left: 2em;
}

.register__btn {
    margin-right: 2em;
    min-width: 44px;
    min-height: 44px;
    border: 2px solid;
    border-color: #cf2e86;
    border-radius: 10px;
    font-weight: 600;
    text-align: center;
}

.form__login {
    margin-top: 6em;
}
