/* Global Styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

h2 {
    margin-top: 1.5em;
    margin-bottom: 1em;
    color: #fc3ba4;
    font-weight: 600px;
}

/* Skip to content style */
.skip__link {
    position: absolute;
    top: -45px;
    left: 0;
    background-color: white;
    border-radius: 1.5px #fc3ba4;
    text-decoration: none;
    color: #fc3ba4;
    padding: 12px;
    z-index: 100;
    display: block;
    min-width: 44px;
    min-height: 44px;
    z-index: 999999;
}

.skip__link:focus {
    top: 0;
}

/* Styling Navbar */
.navbar {
    background-color: white;
}

.navbar-toggler {
    color: #fc3ba4;
}

.navbar-light .navbar-nav .nav-link {
    color: #fc3ba4;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: end;
}

.nav-item a {
    min-width: 44px;
    min-height: 44px;
    margin-left: 1.5em;
    margin-top: 5px;
}

.nav-button a {
    min-width: 44px;
    min-height: 44px;
    margin-left: 1.5em;
    border: 2px solid;
    border-color: #cf2e86;
    border-radius: 10px;
    margin-top: 2.5px;
    font-weight: 600;
}

/* Styling Hero */
.carousel-item {
    max-height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel {
    margin-top: 3.2em;
}

.button__explore {
    background-color: #fc3ba4;
    color: white;
    min-width: 44px;
    min-height: 44px;
    text-align: center;
    font-size: 20px;
}

.carousel-caption {
    bottom: 7em;
}

.carousel-caption a {
    text-align: center;
}

.carousel-item img {
    filter: brightness(55%);
}

/* Styling Card Product */
.card__product h2 {
    margin-top: 4em;
}

.card__item {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.btn__buy {
    position: absolute;
    left: 0.9em;
    bottom: 15px;
    background-color: #3be02a;
    color: white;
    min-width: 44px;
    min-height: 44px;
    font-size: 20px;
}

.btn__fav {
    position: absolute;
    right: 1.5em;
    bottom: 15px;
    background-color: #fc3943fb;
    color: white;
    min-width: 44px;
    min-height: 44px;
    font-size: 20px;
}

.container__card {
    margin-bottom: 1.5em;
}

.card__price {
    position: absolute;
    top: 1em;
    left: 1em;
    border-radius: 6px;
    background-color: #fc3ba4;
    padding: 5px 10px;
    color: black;
    font-weight: 600;
}

.card-title a {
    text-decoration: none;
    color: #fc3ba4;
    font-size: 20px;
    font-weight: 600;
    min-width: 44px;
    min-height: 44px;
}

.card-title a:hover {
    color: black;
}

.header__product {
    margin-left: 1.8em;
    margin-bottom: 1em;
}

.product__category {
    margin-left: 2.1em;
    color: #fc3ba4;
    font-weight: 500;
}

.card__desc {
    font-size: 16px;
    margin-bottom: 4em;
}

/* Styling hero 2 */
.jumbotron {
    margin-top: 2.5em;
    display: flex;
    align-items: center;
    min-height: 400px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../img/hero-04.png");
    width: 100%;
    height: 100%;
}

.jumbotron__text {
    color: white;
}

.jumbotron__text h3 {
    font-family: 600px;
    font-size: 35px;
}

.jumbotron__text p {
    font-size: 25px;
}

/* Styling About-us */
.menu__about__rafa h2 {
    margin-top: 4em;
}

.about__us {
    margin-top: 2.5em;
}

.description__about p {
    text-align: justify;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    padding: 0 4em 0 0;
}

/* Styling products */

.products__link a {
    text-decoration: none;
}

.navigation__link a {
    text-decoration: none;
}

.text__footer a {
    text-decoration: none;
}

.rafa__desc {
    text-align: justify;
}

/* Styling page about us */
.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.pt-5 {
    padding-top: 3rem !important;
}

.my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.border-0 {
    border: 0 !important;
}

.position-relative {
    position: relative !important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;
}

.card {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: .25rem;
}

.member-profile {
    top: -50px;
    left: 0;
}

.text-center {
    text-align: center !important;
}

.w-100 {
    width: 100% !important;
}

.position-absolute {
    position: absolute !important;
}

.name__team h5{
    color: #cf2e86;
}

.member-profile img {
    width: 100px;
    height: 100px;
}

.rounded-circle {
    border-radius: 50% !important;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
}

/* Styling My Favorite */
.my__favorite h2 {
    margin-top: 4em;
}

.no__favorite {
    font-size: 20px;
    margin-bottom: 3em;
}

/* Styling contact */
.contact__rafa h2 {
    margin-top: 4em;
}

.gmap_canvas {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.contact__desc p {
    font-size: 18px;
}

/* Styling detail items */
.detail__items h2 {
    margin-top: 4em;
}

.detail__img {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    width: 50%;
    padding: 0.5em;
}

.detail__img img {
    width: 100%;
    height: 500px;
    border-radius: 15px;
    object-fit: cover;
}

.button_buy_detail {
    background-color: #3be02a;
    color: white;
    min-width: 44px;
    min-height: 44px;
    font-size: 20px;
    width: 100%;
}

.button_fav_detail {
    background-color: #fc3943fb;
    color: white;
    min-width: 44px;
    min-height: 44px;
    font-size: 20px;
    width: 100%;
}

.favorite {
    font-size: 18px;
    position: fixed;
    bottom: 18px;
    right: 18px;
    background-color: #fc3943fb;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    min-width: 44px;
    min-height: 44px;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 0 0.3rem black);
}

/* Styling Loogin */
.form__login {
    margin-top: 10em;
}

.form__regist {
    margin-top: 10em;
}

/* Styling footer */
footer {
    margin-top: 2.5em;
    background-color: #cf2e86;
}
