/* Styling Mobile Responsive */
@media screen and (max-width: 652px) {
    .carousel-caption {
        bottom: 2em;
    }
    .carousel-caption h1 {
        font-size: 20px;
    }
    .button__explore {
        font-size: 16px;
    }
    .description__about p {
        padding: 0;
    }
    .card-body {
        grid-row-gap: 1.5em;
    }
    .detail__img {
        width: 100%;
        height: 100%;
        margin-bottom: 1em;
    }
    .header__product {
        margin-bottom: 1em;
    }
    .nav-button a {
        margin-bottom: 1em;
        width: 25%;
        text-align: center;
    }
}

@media screen and (min-width: 653px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (max-width: 992px) {
    .register__btn {
        position: absolute;
        top: 15px;
    }
}

@media screen and (min-width: 900px) {
}

@media screen and (min-width: 1200px) {
}
